/**
 * Style.css
 *
 * Put main css here.
 *
 */

@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch);
@import url(https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@keyframes flying {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 30%);
    }
    100% {
        transform: translate(0, 0);
    }
}

* {
    transition: all 0.5s;
    font-family: 'Poiret One', cursive;
}

body {
    overflow-x: hidden;
}

#homebg {
    height: 100vh;
    background: url("../img/bg0.jpg") center/cover fixed;
}

h1 {
    font-size: 3.5em;
    font-family: 'Cabin Sketch', cursive;
    color: white;
}

p {
    color: white;
    font-family: 'Love Ya Like A Sister', cursive;
}

h3 {
    font-family: 'Poiret One', cursive;
}

.links {
    position: fixed;
    width: 100vw;
    z-index: 9001; /* <--- IT'S OVER 9000!! ...sorry */
}

.links a,
.links span {
    text-decoration: none;
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: 1.2em;
    margin-right: 1vw;
    margin-left: 1vw;
    border-bottom: solid pink;
    border-width: 0;
}

.links a:hover {
    cursor: pointer;
    border-width: 1px;
}

.form-horizontal .checkbox {
    padding-top: 0px;
}

.logo {
    background: url("../img/bg1.jpg") center/cover fixed;
    border: 5px white solid;
    top: 20vh;
    width: 0vw;
    height: 0vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    opacity: 0;
}

.logo-img {
    width: 50%;
    max-width: 120px;
    min-width: 100px;
    transform: translate(0, 900%);
}

.modal p {
    color: black;
}

#aboutSection,
.aboutPart {
    height: 100vh;
}

#aboutSection h2 {
    font-size: 3em;
}

#aboutSection p {
    font-family: 'Poiret One', cursive;
    font-size: 1.8em;
}

.hilite {
    font-size: 2em;
    color: pink;
}

#aboutSection p {
    color: black;
}

.bio {
    height: 100vh;
}

.bio img {
    width: 25%;
    height: auto;
}

#aboutlinks {
    top: 10vh;
}

#aboutSneeze{
    background: url("../img/sneeze1.jpg") right bottom/25% no-repeat fixed;
}

#anthony {
    background: url("../img/sneeze2.jpg") right bottom/25% no-repeat fixed;
}

#jalen {
    background: url("../img/sneeze3.jpg") right bottom/25% no-repeat fixed;
}

#zachary {
    background: url("../img/sneeze4.jpg") right bottom/25% no-repeat fixed;
}

#robin {
    background: url("../img/sneeze5.jpg") right bottom/25% no-repeat fixed;
}

#aboutContact {
    background: url("../img/sneezeLogo2.jpg") right bottom/120px no-repeat;
}

.vertical-center {
    top: 50%;
    transform: translate(-10%, -70%);
    position: relative;
    padding-left: 25%;
    padding-right: 25%;
}

.affix {
    top: 10vh;
    z-index: 10;
}

.is-flying {
    animation-name: flying;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s;
}

.passform {
    width: 50vw;
    top: 30vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.passform:hover {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.passform > p {
    color: black;
    font-family: 'Poiret One', cursive;
    font-size: 1.2em;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

.passform > form {
    margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
    #aboutSneeze,
    #anthony,
    #jalen,
    #zachary,
    #robin {
        background-image: none;
    }

    #aboutlinks {
        display: none;
    }

    .logo > h1 {
        font-size: 2.8em;
    }

    .vertical-center {
        padding-left: 0;
        padding-right: 0;
        transform: translate(0, -50%);
    }

    .passform {
        width: 90vw;
        top: 10vh;
    }

    .container {
        padding: 0;
        margin: 0;
    }
}
